.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #A40865, #E45811);
  padding: 12px 24px;
  color: white;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-size: 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}
